@model LitBookmarks.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bookmarks Login</title>
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
    <link href="~/Styles/animate.css" rel="stylesheet" />
    <link href="~/Styles/loginFormStyle.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="~/Styles/ValidationStyles.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="top">
            <h1 id="title" class="hidden"><span id="logo">Book<span>Marks</span></span></h1>
        </div>
  
        @using (Html.BeginForm())
        {
            <div class="login-box animated fadeInUp">
                <div class="box-header">
                    <h2>Log In</h2>
                </div>
                <label id="username">Username</label>
                <br />
                @Html.ValidationSummary()
                @Html.TextBoxFor(x => x.Username, new { @id = "username" })
                <br />
                <label id="password">Password</label>
                <br />
                @Html.PasswordFor(x => x.Password, new { @id = "password" })
                <br />
                <button type="submit">Sign In</button>
                <br />
                
                <br />
                    @Html.ActionLink("Register!", "Register")
               
            </div>
        }
    </div>
</body>
</html>
<script>
	$(document).ready(function () {
    	$('#logo').addClass('animated fadeInDown');
    	$("input:text:visible:first").focus();
	});
	$('#username').focus(function() {
		$('label[for="username"]').addClass('selected');
	});
	$('#username').blur(function() {
		$('label[for="username"]').removeClass('selected');
	});
	$('#password').focus(function() {
		$('label[for="password"]').addClass('selected');
	});
	$('#password').blur(function() {
		$('label[for="password"]').removeClass('selected');
	});
</script>
