<h2>All Bookmarks</h2>
<div>
    <input type="text" class="search-field" value="Type search text here..." />
    <div class="submit-container">
        <input type="submit" value="" class="submit" />
    </div>
</div>


@Html.Partial("_BookMarksView")
