@model LitBookmarks.Models.BookmarkViewModel
@{
    ViewBag.Title = "EditBookmarkView";
}

<link href="~/Styles/w3.css" rel="stylesheet" />

<div class="w3-card-4 w3-round-large" style="width: 70%; min-width: 500px;">
   @using (@Html.BeginForm("Edit", "Bookmark", new { BookmarkId = Model.BookmarkId }, FormMethod.Post))
    {

    <div class="w3-container">

        <p style="font-size: 200% !important; font-size: large;  margin: 0 !important">
            <label>
                Bookmark name
                <span class="required">*</span>
            </label>
            <input type="text" name="Name" id="Name" placeholder=@Model.Name />
        </p>

        <p style="font-size: 200% !important; font-size: large;  margin: 0 !important">
            <label>
                Book name
                <span class="required">*</span>
            </label>
            <input type="text" name="Book" id="Book" placeholder=@Model.Book />
        </p>

        <p style="font-size: 200% !important; font-size: large;  margin: 0 !important">
            <label>
                Book Author
                <span class="required">*</span>
            </label>
            <input type="text" name="Author" id="Author" placeholder=@Model.Author />
        </p>


        <p style="font-style: italic !important; margin: 0 !important">
            <label>
                Description
                <span class="required">*</span>
            </label>
            <input type="text" name="Description" id="Description" placeholder=@Model.Description />
        </p>

    </div>

    <br />

    <input type="submit" value="Save" />
    }
</div>